.placeholder{
	width:1236px;
	margin-left:auto;
	margin-right:auto;
}

.mainNavigationDiv{
	width:1236px;
	height:60px;
	background-color:white;
	white-space:nowrap;
}

.logo{
	display:inline-block;
	width:222px;
	height:50px;
	margin-top:10px;
	margin-left:200px;
	text-align:center;
	background-image:url('../Navigation/Image/tacLogo.png');
	background-repeat:no-repeat;
}


.navigationMenu{
	display:inline-block;
	height:60px;
	margin-left:50px;
}

.navigationItem{
	float:left;
	margin-top:10px;
	margin-left:100px;
	display:inline-block;
	width:100px;
	height:40px;
	line-height:45px;
	
	text-align:center;

	font-family:"Myriad Pro" "Times New Roman";
	font-size:18px;
	color:#079fdd;
	
}

.navigationItem:hover{
	border-radius:5px;
	color:white;
	background-color:#079fdd;
}

