.placeholder{
	width:1234px;
	margin-left:auto;
	margin-right:auto;
}

.mainNavigationDiv{
	width:1280px;
	height:40px;
}

.logo{
	display:inline-block;
	width:219px;
	height:40px;
	margin-left:200px;
}

.navigationMenu{
	display:inline-block;
	height:40px;
}

.navigationItem{
	float:left;
	display:inline-block;
	width:200px;
	height:40px;
	line-height:40px;
	
	text-align:center;

	font-family:"Times New Roman";
	font-size:20px;
	color:#079fdd;
	
}

.navigationItem:hover{
	border-radius:5px;
	color:white;
	background-color:#079fdd;
}

