.homeStart{
	clear:both;
	margin-top:70px;
}

.homeDiv{
	width:1236px;
	height:541.5px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.homeNormalDiv{
	width:1236px;
	display:inline-block;
}

.homeVideoDiv{
	width:1236px;
	display:none;
}

.homeSeeVideo{
	background-color:red;
	width:201px;
	height:31px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	background-image:url(Image/adTv.png);
}

.homeSeeVideo:hover{
	background-image:url(Image/adTvSelect.png);
}

.homeVideoPlay{
	width:800px;
	background-color:black;
	margin-left:auto;
	margin-right:auto;
}

#homeVideo{
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

.homeTitle{
	margin-top:50px;
	font-size:28px;
	color:#079fdd;
	text-align:center;
}

.homeP1{
	text-align:center;
	color:black;
}

.homeP2{
	text-align:center;
	color:black;
}
