
.eventsDiv{
	background-color:#34aecc;
	width:1236px;
	height:600px;
	margin-left:auto;
	margin-right:auto;
}

.startEventsTitle{
	font-family:"Myriad Pro" "Times New Roman";
	text-align:center;
	font-size:25px;
	color:white;
}


.eventImageDiv{
	background-color:#1a1a1a;
	margin-top:100px; 
	text-align:center;
	white-space:nowrap;
}


.eventImageItemDiv{
	display:inline-block;
	width:247.2px;
	height:341px;
	overflow:hidden;
	opacity:0.2;
}

.timeLineCanvasDiv{
	width:1236px;
	margin-top:50px;
	height:30px;
}

#timeLineCanvas{
}



#timeEventsCanvas{
	position:relative;
	top:-35px;
}