
#eventStart{
	background-color:gray;
	height:800px;
	width:1236px;
	margin-left:auto;
	margin-right:auto;
}

.startEventsTitle{
	text-align:center;
	font-size:25px;
	color:white;
}


.eventImageDiv{
	
	margin-top:70px; 
	list-style-type:none;
	text-align:center;
}


.eventImageItemDiv{
	display:inline-block;
	width:246.8px;
	height:341px;
	overflow:hidden;
	margin-left:-4px;
	opacity:0.5;
}

.timeLineCanvasDiv{
	width:1234px;
	height:30px;
}

#timeLineCanvas{
}



#timeEventsCanvas{
	position:relative;
	top:-35px;
}